@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #3ecf4c;
  --color-primary-400: #6be26b;
  --color-primary-300: #94f08b;
  --color-primary-200: #c0fab4;
  --color-primary-100: #e2fcd9cc;
  --color-secondary: #ffbd3a;
  --color-secondary-400: #ffd26b;
  --color-secondary-300: #ffdf88;
  --color-secondary-200: #ffecb0;
  --color-secondary-100: #fff7d7cc;
  --color-tertiary: #f64920;
  --color-tertiary-400: #f98256;
  --color-tertiary-300: #fca578;
  --color-tertiary-200: #fecaa5;
  --color-tertiary-100: #fee8d2cc;
  --color-greyscale-900: #212121;
  --color-greyscale-800: #424242;
  --color-greyscale-700: #616161;
  --color-greyscale-600: #757575;
  --color-greyscale-500: #9e9e9e;
  --color-greyscale-400: #bdbdbd;
  --color-greyscale-300: #e0e0e0;
  --color-greyscale-200: #eeeeee;
  --color-greyscale-100: #f5f5f5;
  --color-greyscale-50: #fafafa;
  --color-dark-primary: #222325;
  --color-dark-secondary: #333333ad;
  --color-dark-disabled: #3a354161;
  --color-light-primary: #ffffff;
  --color-light-secondary: #c1c2c4;
  --color-light-disabled: #9d9ea1;
  --color-primary-background: #ffffff;
  --color-base-background: #f4f5fa;
  --color-secondary-background: #f9fafc;
  --color-border: #3a35411f;
  --color-info-pressed: #044aa2;
  --color-info-hover: #0663c2;
  --color-info-default: #0980e2;
  --color-info-background: #ebf9fe;
  --color-success-pressed: #1c9675;
  --color-success-hover: #28b380;
  --color-success-default: #38d189;
  --color-success-background: #e0fddf;
  --color-warning-pressed: #b5a40d;
  --color-warning-hover: #d8c613;
  --color-warning-default: #fce91b;
  --color-warning-background: #fcf8ca;
  --color-error-pressed: #b72315;
  --color-error-hover: #db3d1f;
  --color-error-default: #ff5c2b;
  --color-error-background: #fce3d1;
  --font-poppins: 'Poppins', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --shadow-nav: '4px 8px 12px #3E434A4F 0px 0px 1px #3E434A4F';
}

@utility container {
  padding-block: 16px;
  padding-inline: 24px;
  margin: auto;
}

body {
  background: #fffdf3;
}
